@keyframes animacaoentrada {
    0% { padding-left: 0vw; }
    30% { padding-left: 100vw; }
    70% { padding-left: 100vw;}
    100% { padding-right: 100vw; }
}

@keyframes animacaosaida {
    0% { padding-left: 0vw; background-color: white;}
    30% { padding-left: 100vw; }
    70% { padding-left: 100vw;}
    100% { padding-right: 100vw;}
}

@keyframes texto {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    30% {
        transform: translateX(0);
        opacity: 1;
    }
    70% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: blue;
}

.texto {
    color: white;
    font-size: 3em;
    width: 100vw;
    height: 12.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 0;
    animation: texto 3s ease forwards;
    animation-delay: 1s; /* Ajuste conforme necessário */
    
}

.bloco1, .bloco2, .bloco3, .bloco4, .bloco5, .bloco6, .bloco7, .bloco8 {
    width: 0vw;
    height: 12.5vh;
    background-color: white;
    animation: animacaoentrada 5s;
    animation-duration: 5s;
    animation-fill-mode: forwards; /* Mantém o estado final da animação */
}

.bloco2 { animation-delay: 0.25s; }
.bloco3 { animation-delay: 0.50s; }
.bloco4 { animation-delay: 0.75s; }
.bloco5 { animation-delay: 1s; }
.bloco6 { animation-delay: 1.25s; }
.bloco7 { animation-delay: 1.50s; }
.bloco8 { animation-delay: 1.75s; }
